USE [master]
GO
/****** Object:  Database [QLSV]    Script Date: 3/28/2025 12:39:27 PM ******/
CREATE DATABASE [QLSV]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QLSV', FILENAME = N'D:\He Quan tri CSDL\QLSV.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QLSV_log', FILENAME = N'D:\He Quan tri CSDL\QLSV_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QLSV].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QLSV]
GO
/****** Object:  Table [dbo].[BOMON]    Script Date: 3/28/2025 12:39:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BOMON](
	[MaBM] [varchar](10) NOT NULL,
	[tenBM] [varchar](50) NULL,
	[makhoa] [varchar](10) NULL,
 CONSTRAINT [PK_BOMON] PRIMARY KEY CLUSTERED 
(
	[MaBM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Diem]    Script Date: 3/28/2025 12:39:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Diem](
	[id] [int] NOT NULL,
	[id_dk] [int] NULL,
	[diem] [float] NULL,
 CONSTRAINT [PK_Diem] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DKMH]    Script Date: 3/28/2025 12:39:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DKMH](
	[id_dk] [int] NOT NULL,
	[malopHP] [varchar](10) NULL,
	[masv] [varchar](10) NULL,
	[DiemThi] [float] NULL,
	[PhanTramThi] [float] NULL,
 CONSTRAINT [PK_DKMH] PRIMARY KEY CLUSTERED 
(
	[id_dk] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GIAOVIEN]    Script Date: 3/28/2025 12:39:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GIAOVIEN](
	[Magv] [varchar](10) NOT NULL,
	[hoten] [varchar](50) NULL,
	[ngaysinh] [date] NULL,
	[maBM] [varchar](10) NOT NULL,
 CONSTRAINT [PK_GIAOVIEN] PRIMARY KEY CLUSTERED 
(
	[Magv] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GVCN]    Script Date: 3/28/2025 12:39:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GVCN](
	[Malop] [varchar](10) NOT NULL,
	[Magv] [varchar](10) NOT NULL,
	[HK] [varchar](10) NOT NULL,
 CONSTRAINT [PK_GVCN] PRIMARY KEY CLUSTERED 
(
	[Malop] ASC,
	[Magv] ASC,
	[HK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHOA]    Script Date: 3/28/2025 12:39:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHOA](
	[makhoa] [varchar](10) NOT NULL,
	[tenkhoa] [varchar](10) NULL,
 CONSTRAINT [PK_KHOA] PRIMARY KEY CLUSTERED 
(
	[makhoa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Lop]    Script Date: 3/28/2025 12:39:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Lop](
	[Malop] [varchar](10) NOT NULL,
	[Tenlop] [varchar](50) NULL,
 CONSTRAINT [PK_Lop] PRIMARY KEY CLUSTERED 
(
	[Malop] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Lop sv]    Script Date: 3/28/2025 12:39:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Lop sv](
	[Malop] [varchar](10) NOT NULL,
	[Masv] [varchar](10) NOT NULL,
	[Chucvu] [varchar](50) NULL,
 CONSTRAINT [PK_Lop sv] PRIMARY KEY CLUSTERED 
(
	[Malop] ASC,
	[Masv] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LopHP]    Script Date: 3/28/2025 12:39:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LopHP](
	[malopHP] [varchar](10) NOT NULL,
	[TenLopHP] [varchar](50) NULL,
	[HK] [varchar](10) NULL,
	[mamon] [varchar](10) NULL,
	[maGV] [varchar](10) NULL,
 CONSTRAINT [PK_LopHP] PRIMARY KEY CLUSTERED 
(
	[malopHP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MonHoc]    Script Date: 3/28/2025 12:39:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MonHoc](
	[mamon] [varchar](10) NOT NULL,
	[Tenmon] [varchar](50) NULL,
	[STC] [varchar](10) NULL,
 CONSTRAINT [PK_MonHoc] PRIMARY KEY CLUSTERED 
(
	[mamon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[sinh vien]    Script Date: 3/28/2025 12:39:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sinh vien](
	[masv] [varchar](10) NOT NULL,
	[hoten] [nvarchar](50) NULL,
	[ngaysinh] [date] NULL,
 CONSTRAINT [PK_sinh vien] PRIMARY KEY CLUSTERED 
(
	[masv] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[BOMON]  WITH CHECK ADD  CONSTRAINT [FK_BOMON_KHOA] FOREIGN KEY([makhoa])
REFERENCES [dbo].[KHOA] ([makhoa])
GO
ALTER TABLE [dbo].[BOMON] CHECK CONSTRAINT [FK_BOMON_KHOA]
GO
ALTER TABLE [dbo].[Diem]  WITH CHECK ADD  CONSTRAINT [FK_Diem_Diem] FOREIGN KEY([id_dk])
REFERENCES [dbo].[DKMH] ([id_dk])
GO
ALTER TABLE [dbo].[Diem] CHECK CONSTRAINT [FK_Diem_Diem]
GO
ALTER TABLE [dbo].[DKMH]  WITH CHECK ADD  CONSTRAINT [FK_DKMH_LopHP] FOREIGN KEY([malopHP])
REFERENCES [dbo].[LopHP] ([malopHP])
GO
ALTER TABLE [dbo].[DKMH] CHECK CONSTRAINT [FK_DKMH_LopHP]
GO
ALTER TABLE [dbo].[DKMH]  WITH CHECK ADD  CONSTRAINT [FK_DKMH_sinh vien] FOREIGN KEY([masv])
REFERENCES [dbo].[sinh vien] ([masv])
GO
ALTER TABLE [dbo].[DKMH] CHECK CONSTRAINT [FK_DKMH_sinh vien]
GO
ALTER TABLE [dbo].[GIAOVIEN]  WITH CHECK ADD  CONSTRAINT [FK_GIAOVIEN_BOMON] FOREIGN KEY([maBM])
REFERENCES [dbo].[BOMON] ([MaBM])
GO
ALTER TABLE [dbo].[GIAOVIEN] CHECK CONSTRAINT [FK_GIAOVIEN_BOMON]
GO
ALTER TABLE [dbo].[GVCN]  WITH CHECK ADD  CONSTRAINT [FK_GVCN_GIAOVIEN1] FOREIGN KEY([Magv])
REFERENCES [dbo].[GIAOVIEN] ([Magv])
GO
ALTER TABLE [dbo].[GVCN] CHECK CONSTRAINT [FK_GVCN_GIAOVIEN1]
GO
ALTER TABLE [dbo].[GVCN]  WITH CHECK ADD  CONSTRAINT [FK_GVCN_Lop] FOREIGN KEY([Malop])
REFERENCES [dbo].[Lop] ([Malop])
GO
ALTER TABLE [dbo].[GVCN] CHECK CONSTRAINT [FK_GVCN_Lop]
GO
ALTER TABLE [dbo].[Lop sv]  WITH CHECK ADD  CONSTRAINT [FK_Lop sv_Lop] FOREIGN KEY([Malop])
REFERENCES [dbo].[Lop] ([Malop])
GO
ALTER TABLE [dbo].[Lop sv] CHECK CONSTRAINT [FK_Lop sv_Lop]
GO
ALTER TABLE [dbo].[Lop sv]  WITH CHECK ADD  CONSTRAINT [FK_Lop sv_sinh vien] FOREIGN KEY([Masv])
REFERENCES [dbo].[sinh vien] ([masv])
GO
ALTER TABLE [dbo].[Lop sv] CHECK CONSTRAINT [FK_Lop sv_sinh vien]
GO
ALTER TABLE [dbo].[LopHP]  WITH CHECK ADD  CONSTRAINT [FK_LopHP_GIAOVIEN] FOREIGN KEY([maGV])
REFERENCES [dbo].[GIAOVIEN] ([Magv])
GO
ALTER TABLE [dbo].[LopHP] CHECK CONSTRAINT [FK_LopHP_GIAOVIEN]
GO
ALTER TABLE [dbo].[LopHP]  WITH CHECK ADD  CONSTRAINT [FK_LopHP_MonHoc] FOREIGN KEY([mamon])
REFERENCES [dbo].[MonHoc] ([mamon])
GO
ALTER TABLE [dbo].[LopHP] CHECK CONSTRAINT [FK_LopHP_MonHoc]
GO
ALTER TABLE [dbo].[BOMON]  WITH CHECK ADD  CONSTRAINT [CK_MABM] CHECK  (([MABM]>='MBM01'))
GO
ALTER TABLE [dbo].[BOMON] CHECK CONSTRAINT [CK_MABM]
GO
ALTER TABLE [dbo].[Diem]  WITH CHECK ADD  CONSTRAINT [CK_Diem] CHECK  (([Diem]>=(0) AND [Diem]<=(10)))
GO
ALTER TABLE [dbo].[Diem] CHECK CONSTRAINT [CK_Diem]
GO
ALTER TABLE [dbo].[DKMH]  WITH CHECK ADD  CONSTRAINT [CK_Diemthi] CHECK  (([DiemThi]>=(0) AND [DiemThi]<=(10)))
GO
ALTER TABLE [dbo].[DKMH] CHECK CONSTRAINT [CK_Diemthi]
GO
ALTER TABLE [dbo].[DKMH]  WITH CHECK ADD  CONSTRAINT [CK_PhanTramThi] CHECK  (([PhanTramThi]>=(0.0) AND [PhanTramThi]<=(10.0)))
GO
ALTER TABLE [dbo].[DKMH] CHECK CONSTRAINT [CK_PhanTramThi]
GO
ALTER TABLE [dbo].[GIAOVIEN]  WITH CHECK ADD  CONSTRAINT [CK_MAGV] CHECK  (([MAGV]>='MAGV13'))
GO
ALTER TABLE [dbo].[GIAOVIEN] CHECK CONSTRAINT [CK_MAGV]
GO
ALTER TABLE [dbo].[GVCN]  WITH CHECK ADD  CONSTRAINT [CK_HK] CHECK  (([HK]>'1'))
GO
ALTER TABLE [dbo].[GVCN] CHECK CONSTRAINT [CK_HK]
GO
ALTER TABLE [dbo].[KHOA]  WITH CHECK ADD  CONSTRAINT [CK_MAKHOA] CHECK  (([MAKHOA]>='MKH11'))
GO
ALTER TABLE [dbo].[KHOA] CHECK CONSTRAINT [CK_MAKHOA]
GO
ALTER TABLE [dbo].[Lop]  WITH CHECK ADD  CONSTRAINT [CK_MALOP] CHECK  (([MALOP]>='MAL01'))
GO
ALTER TABLE [dbo].[Lop] CHECK CONSTRAINT [CK_MALOP]
GO
ALTER TABLE [dbo].[Lop sv]  WITH CHECK ADD  CONSTRAINT [CK_chucvu] CHECK  (([chucvu]<>N'loptruong'))
GO
ALTER TABLE [dbo].[Lop sv] CHECK CONSTRAINT [CK_chucvu]
GO
ALTER TABLE [dbo].[LopHP]  WITH CHECK ADD  CONSTRAINT [CK_malopHP] CHECK  (([malopHp]>='MHP01'))
GO
ALTER TABLE [dbo].[LopHP] CHECK CONSTRAINT [CK_malopHP]
GO
ALTER TABLE [dbo].[MonHoc]  WITH CHECK ADD  CONSTRAINT [CK_MAMON] CHECK  (([MAMON]>='MN12'))
GO
ALTER TABLE [dbo].[MonHoc] CHECK CONSTRAINT [CK_MAMON]
GO
ALTER TABLE [dbo].[sinh vien]  WITH CHECK ADD  CONSTRAINT [[CK_MASV] CHECK  (([MASV]>='MSV01'))
GO
ALTER TABLE [dbo].[sinh vien] CHECK CONSTRAINT [[CK_MASV]
GO
USE [master]
GO
